page-login {
    .mbsc-mobiscroll .mbsc-input input, .mbsc-mobiscroll .mbsc-input textarea{
        color:#fff !important;
    }
    .loginPage{
        background-color: #000000;
        color:#fff;
        .mbsc-mobiscroll.mbsc-form{
            background-color:transparent;
            color:#fff;
            
        }
    }
}
