page-home {
 .item-block{
    background: #bc477b;
 }
 .toolbar-background{
    background: #95A5A6;
 }
 button ion-item.item-block{
    background: transparent;
    font-size: 1.14em;
    color:#488aff;
 }
 .ion-list{
     background:#bc477b;
     color:#fff;
 }
}
