page-welcome {
     .welcomeColor{
        background:url(../assets/imgs/biker-407123_960_720.jpg );
        background-position: -150px 0px;
        color:#fff;
        opacity: 0.85;
     } 
    
      h1{
          font-size: 3rem;
          }
      .marginTop{
          margin-top:285px;
      }
}
